<ba-card *ngIf="service.serverErrors.length">
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li *ngFor="let error of service.serverErrors">
          <span class="alert-warning">{{error}}</span>
        </li>
      </ul>
    </div>
    <div class="col-md-6" align="right">
      <button type="button" class="btn btn-danger" (click)="service.serverErrors = []">Close</button>
    </div>
  </div>
</ba-card>
<ba-card *ngIf="service.serverMessage">
  <div class="row">
    <div class="col-md-6">
      <span class="alert-info">{{service.serverMessage}}</span>
    </div>
    <div class="col-md-6" align="right">
      <button type="button" class="btn btn-danger" (click)="service.serverMessage = null">Close</button>
    </div>
  </div>
</ba-card>
