@import "../../theme/sass/conf/conf";

.modal-buttons .btn {
  margin-right: 20px;
}

.modal-content {
  $blurredBgUrl:  $images-root + 'sky-bg.jpg';
  background: url($blurredBgUrl);
  transition: none;
  background-attachment: fixed;
}
